/ezpublish_legacy/var/ezdemo_site/cache
/ezpublish_legacy/var/cache
/ezpublish_legacy/var/ezdemo_site/log
/ezpublish_legacy/var/log

/ezpublish_legacy/var/ezdemo_site/storage/images/shopping/services/ez-publish-enterprise-service/squares/435-1-eng-GB/squares_listitem.png
/ezpublish_legacy/var/ezdemo_site/storage/images/shopping/services/ez-publish-enterprise-service/426-1-eng-GB/eZ-Publish-Enterprise-Service_articleimage.jpg
/ezpublish_legacy/var/ezdemo_site/storage/images/design/plain-site/172-2-eng-GB/Website-Interface1_small.png
/ezpublish_legacy/var/ezdemo_site/storage/images/design/plain-site/172-2-eng-GB/Website-Interface1_reference.png
/ezpublish_legacy/var/ezdemo_site/storage/images/design/plain-site/172-2-eng-GB/Website-Interface1_large.png
/ezpublish_legacy/var/ezdemo_site/cache/template/compiled/common.php
/ezpublish_legacy/var/ezdemo_site/cache/template-block/subtree/7/4/cache/1/5/4/1549603470.cache
/ezpublish_legacy/var/ezdemo_site/cache/designbase_41e7108d53b1bb814bc745d72fc93eea.php
